{% extends 'bootstrap/base.html' %}

{% block head %}
{{ super() }}
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock head %}


{% block title %}
    {{ title }}
{% endblock title %}

{% block navbar %}
{% include 'nav/nav-top-bar.html' %}
{% endblock navbar %}

{% block content %}
<div class="container">
    {% block page_content %}
    {% endblock page_content %}
</div>
<div class="divider"></div>
{% include 'nav/footer.html' %}
{% endblock content %}


{% block scripts %}
{{ super() }}
    {{ moment.include_moment() }}
    <script src="{{ url_for('static', filename='js/get_year.js') }}"></script>
    <script src="{{ url_for('static', filename='js/select.js') }}"></script>
{% endblock scripts %}
